RewriteEngine On

# Si fichier existe → ne pas router
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Si dossier existe → ne pas router
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon router vers index
RewriteRule ^ index.php [QSA,L]